.container {
    display: flex;
    justify-content: center;
    margin: auto;
}
.chart {
    border: 3px solid green;
}
.food {
    background: lightgray;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.exercises {
    background: lightgray;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}
.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .food-item {
    padding: 5;
    border: 1px solid black;
  }

  .exercise-item {
    padding: 5;
    border: 1px solid black;
  }