<div class="container">
  <div class="chart">
    <fusioncharts [chartConfig]=chartConfig [dataSource]=dataSource>
    </fusioncharts>
  </div>
  <div class="container-right">
    <div class="food">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let food of foodA" class="example-item">{{food.name}} {{food.calories}}</div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="exercises">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let exercise of exerciseArr" class="example-item">{{exercise.name}} {{exercise.calories}}</div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>