<div class="container">
  <div class="chart">
    <fusioncharts [chartConfig]=chartConfig [dataSource]=dataSource>
    </fusioncharts>
  </div>
  <div class="container-right">
    <div class="food">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="exercises">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>