<!-- <form> -->
  <div class="date-div">
    <mat-form-field class="date-field">
      <input type="date" matInput placeholder="Choose date" name="date" [(ngModel)]="date" required ngDefaultControl>
    </mat-form-field>
  </div>
  <div class="search-bar">
    <label>Search Food </label>
    <input [(ngModel)]="food" type="text" placeholder="Food Type" name="food" class="form-control form-control-sm"
      required />
    <button (click)="search()" class="btn">Search</button>
  </div>
  <div>
    <h3>One Serving :</h3>
    <p>{{servingQuantity}} {{servingUnit}}</p>
    <label class="inputSearch">Serving Size </label>
    <input [(ngModel)]="servingSize" type="text" placeholder="Serving Size" name="servingSize" class="form-control form-control-sm" />
    <button (click)="calculateCalories()" class="btn">Calculate Calories</button>
    <br>
    <label>Calories </label>
    <input (keyup)="calculateCalories()" [(ngModel)]="newCalories" type="text" placeholder="Calories" name="calories"
      class="form-control form-control-sm" required readonly />
  </div>
  <div class="btn-group mr-2" role="group">
    <button type="button" (click)="addFoodItem()" class="btn btn-primary">Add Food Item</button>
    <button type="button" (click)="removeFoodItem()" class="btn btn-primary">Remove Last Food Item</button>
  </div>
  <ul class="list-group">
    <li *ngFor="let foodItem of foodArray; let i = index">
      <div><input type="text" [(ngModel)]="foodItem.name" readonly></div>
      <div><input type="text" [(ngModel)]="foodItem.calories" readonly></div>
      <div><input type="text" [(ngModel)]="foodItem.date" readonly></div>
    </li>
  </ul>
<!-- </form> -->
<div *ngIf="invalidInput">
  <p>You're missing a field, please try again.</p>
</div>
<button type="button" (click)="submit()" class="btn btn-outline-primary">Log Food</button>