header {
    padding:10px;
    margin-bottom: 10px;
    background: rgb(13, 15, 15);
    display: flex;
    padding-bottom: 20px;
    height: 58px;
    justify-content: space-evenly;
}

.toolbar-buttons {
    display:flex;
    justify-content: space-between;
    width:30%;
    min-width:8rem;
    padding-right:1rem;
}
.space {
   padding-right: 700px;
}

button {
    margin: 0 2rem;
}
.icon {
    position: relative;
    padding-top: 7px;
    padding-right: 6px;
}

button{
    background:rgba(148, 148, 150, 0.5);
    color:#fff;
    border:none;
    font-size:17px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:rgb(26, 27, 27);
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(183, 190, 189);
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .topbar {
    color: white;
    font-size: 25px;

  }